html{
    margin: 0px;
    padding: 0px;
}
.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    min-height: 5vh;
    min-width: 100vw;
    background-color: powderblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    min-height: 3vh;
    min-width: 100vw;
    background-color: powderblue;
}

body{
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    justify-content: space-around;
    gap: 10vw;
    
}

.display, .input{
    height: 70vh;
    width: 30vw;
    padding: 10px;
    border: 1px solid grey;
    box-shadow:  -1px 1px grey,
         -2px 2px grey,
         -3px 3px grey,
         -4px 4px grey,
         -5px 5px grey;
}