html, *{
    margin: 0px;
    padding: 0px;
}
.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.header{
    min-height: 8vh;
    min-width: 100vw;
    background-color: powderblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    min-height: 3vh;
    min-width: 100vw;
    background-color: powderblue;
}

body{
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    justify-content: space-around;
    gap: 5vw;
}

.display, .input{
    min-height: 100vh;
    width: 40vw;
    border: solid 2px grey;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
}


.input > div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-left: 40px;
    margin-right: 40px;
}

.input{
    background-color: rgb(227, 232, 233);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

input{
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
}
.top{
    height: 12%;
    background-color: rgb(146, 146, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.top > div{
    display: flex;
}

.bottom{
    display: flex;
    height: 90%;
    justify-content: space-between;
}

.left{
    padding-left: 20px;
    padding-top: 20px;
    width: 70%;
    background-color: rgb(227, 232, 233);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right{
    width: 30%;
    background-color: rgb(200, 200, 200);
    padding-top: 20px;
    padding-left: 20px;
}
.right > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.exp{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
}

.exp > .date{
    display: flex;
    gap: 10px;
}

.company{
    display: flex;
}

p{
    word-wrap: break-word;
}

.date{
    display: flex;
    gap: 5px;
    width: 35%;
    word-break:break-word;
}

.left-exp > div{
    display: flex; 
    gap: 20px;
}

.uni{
    display: flex;
}

.left-acad > div{
    display: flex;
    gap: 20px;
}

.data{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top{
    color: white;
}