html{
    margin: 0px;
    padding: 0px;
}
.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    min-height: 5vh;
    min-width: 100vw;
    background-color: powderblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    min-height: 3vh;
    min-width: 100vw;
    background-color: powderblue;
}

body{
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    justify-content: space-around;
    gap: 10vw;
    
}

.display, .input{
    height: 75vh;
    width: 30vw;
    border: 1px solid grey;
    box-shadow:  -1px 1px grey,
         -2px 2px grey,
         -3px 3px grey,
         -4px 4px grey,
         -5px 5px grey;
}

p{
    height: 2vh;
}

.input > div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.top{
    height: 20%;
    background-color: grey;
}

.top > div{
    display: flex;
    gap: 1vw;
}

.bottom{
    display: flex;
    background-color: yellow;
    height: 80%;
    justify-content: space-between;
}

.left{
    width: 70%;
}
.right{
    width: 30%;
}

.exp{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
}

.exp > .date{
    display: flex;
    gap: 10px;
}

.company{
    display: flex;
    gap: 10px;
}

.display p{
    word-wrap: break-word;
}
.date{
    display: flex;
    gap: 5px;
}

.left-exp > div{
    display: flex; 
    gap: 20px;
}

.uni{
    display: flex;
    gap: 5px;
}

.left-acad > div{
    display: flex;
    gap: 20px;
}